<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.ai.dobbydemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.tencent.ai.tvs.dmsdk.demo.DemoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.tencent.ai.tvs.dmsdk.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.AccountActivity"
            android:label="@string/module_account" />
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.DeviceBindingActivity"
            android:label="@string/module_device_binding" />
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.WebActivity"
            android:label="@string/module_web"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.MemberActivity"
            android:label="@string/module_member" />
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.TSKMActivity"
            android:label="@string/module_tskm" />
        <activity
            android:name="com.tencent.ai.tvs.dmsdk.demo.AISpeechActivity"
            android:label="@string/module_ai_speech" />
    </application>

</manifest>